.page.theme_dark {
  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --header-title-color: #db00ff;
  --theme-background-color: #000028;

  background-color: var(--theme-background-color);
  background-image: url(../images/cover-image-dark.png);
}
